{% extends 'base.html' %}
{% block content %}
<div class="content">
    <h5 class="mt-3 has-shadow">Secciones sin Horarios </h5>
</div>

<table class="table table-container  has-text-centered ">
<thead class="has-text-centered">
<th>
    Codigo
</th>
<th>
    PNF
</th>
<th>
    Trimestre
</th>
<th >
    Modalidad
</th>

<th>
    Crear horario
</th>
</thead>
<tbody class="has-text-weight-bold ">
{% for i in secciones %}
    {% if i not in  conHorario %}
<tr>
    <td>
        {{ i}}
    </td>
    <td>
        {{ i.pnf }}
    </td>
    <td>
        {{ i.trimestre }}
    </td>
    <td>
        {{ i.modalidad }}
    </td>
    <td class="has-text-centered">
        <a href="{% url 'horario nuevo' i.trimestre.id %}"><i class="fa fa-plus has-text-info has-text-centered"></i></a>
    </td>

</tr>
    {% endif %}
{% endfor %}
</tbody>
</table>

<div class="content">
    <h5 class="m-3 has-shadow">Secciones con Horarios </h5>
</div>
<table class="table table-container  has-text-centered ">
<thead class="has-text-centered">
<th>
    Codigo
</th>
<th>
    PNF
</th>
<th>
    Trimestre
</th>
<th>
    Modalidad
</th>
<th>
    Ver horario
</th>
<th>
    Edidar horario
</th>
</thead>
<tbody class="has-text-weight-bold ">

{% for i in horarios  %}

<tr>
    <td>
        {{ i.seccion}}
    </td>
    <td>
        {{ i.seccion.pnf }}
    </td>
    <td>
        {{ i.seccion.trimestre }}
    </td>
    <td>
        {{ i.seccion.modalidad }}
    </td>
    <td>
        <a href="{% url 'detalles de horario' i.id %}"><i class="fa fa-eye has-text-info has-text-centered"></i></a>
    </td>
    <td class="has-text-centered">
        <a href="{% url 'editar horario' i.id %}"><i class="fa fa-edit has-text-info has-text-centered"></i></a>
    </td>
</tr>


{% endfor %}
</tbody>
</table>
{% endblock %}
