{% extends 'base.html' %}
{% block content %}
<table class="table table-container  has-text-centered ">
<thead>
<th>
    nombre
</th>
<th>
    PNF
</th>
<th>
    Materias
</th>
</thead>
<tbody class="has-text-weight-bold">
<h3 class="title">PNF:{{ pnf }}</h3>
<h5 class="subtitle">Profesores en este PNF</h5>
{% if profesor %}
{% for i in profesor %}
<tr>
    <td>
        {{ i.nombre}}
    </td>
    <td>
        {{ i.pnf }}
    </td>
    <td>
    {% for m in i.materias.all %}
        <li class="list-item ">{{ m }}</li>
    {% endfor %}
    </td>
</tr>
{% endfor %}
{% endif %}


</tbody>
</table>
{% endblock %}
