{% extends 'base_home.html' %}
{% block content %}
<div>
    <form class="field has-text-centered" method="post" >{% csrf_token %}
        <span>{{ form.codigo }}</span>
        <span>{{ form.seccion }}</span>
        <div  class="is-hidden">
            <textarea id="id_posicion" name="posicion"></textarea>
        </div>
        <input class="control" type="submit">
    </form>
</div>
<table class="table">
    <thead>
    <th>
        hora
    </th>
    <th>
        Lunes
    </th>
    <th>
        martes
    </th>
    <th>
        Miercoles
    </th>
    <th>
        Jueves
    </th>
    <th>
        Viernes
    </th>
    <th>
        sabado
    </th>
    <th>
        domingo
    </th>
    </thead>
    <tbody>
    {% for i in "abcdefghijklmnop"%}
    <tr>
    <td class="hora">

    </td>
    {% for foo in "lmMjvsd" %}
    <td class="objetivo" id={{ foo }} name={{ i }}> {{ foo }} vacio </td>
    {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="mt-3 mb-5">
<table class="table">
{% for T in trimestre %}
    {% for materia in T.materias.all %}
    <td class="horas" id={{ materia.codigo }}>{{ materia.nombre }}</td>
    {% endfor %}
{% endfor %}
</table>
</div>
<script>
function Horario(dia, hora, codigo){
	this.dia= dia;
	this.hora= hora;
	this.codigo= codigo;
}
let objetivo = null;
let nombre = "vacio";
let registro = null;
let myjson = [];
let enarray = true;
$(document).ready(function() {

    $('.objetivo').click(function (event) {
        if (objetivo == null) {
            alert("primero debes seleccionar una materia")
        } else {
            let div = $(this);
            let dia = div.attr("id");
            let hora = div.attr("name");
            let enarray = true;
            div.text(nombre);
            if (registro != null) {
                registro = new Horario(dia, hora, nombre);
                for (let i=0; i < myjson.length; i++ ){
                if ( registro.dia == myjson[i].dia && registro.hora == myjson[i].hora )
                {
                    myjson[i].codigo= registro.codigo;
                    enarray= false;
                }
                }
            } else {
                registro = new Horario(dia, hora, nombre);
                for (let i=0; i < myjson.length; i++ ){
                if ( registro.dia == myjson[i].dia && registro.hora == myjson[i].hora )
                {
                    myjson[i].codigo= registro.codigo;
                    enarray= false;
                }
            }

        }
            if (enarray){
                myjson.push(registro);
            }
            $('#id_posicion').text( JSON.stringify(myjson) );
    }
    });
    $('#id_posicion').text( JSON.stringify(myjson) );

    $('.horas').click(function (event) {
        objetivo = $(this).attr("id");
        nombre = document.getElementById(objetivo).textContent;
    });
});
</script>

{% endblock %}

