{% extends 'base.html' %}
{% block content %}
<table class="table table-container ">
<thead class="is-italic">
<th>
    Codigo
</th>
<th>
    Nombre
</th>
<th>
    Unidades Curriculares
</th>
<th>
    Editar
</th>
<th>
    Eliminar
</th>
</thead>
<tbody class="has-text-weight-bold">
{% for i in object_list %}
<tr>
    <td>
        {{ i.codigo }}
    </td>
    <td>
        {{ i.nombre}}
    </td>
    <td>
        {{ i.unidadesC }}
    </td>
    <td class="actions">
        <i class="fa fa-edit has-text-info has-text-centered" onclick="popUp('/materia/{{ i.id }}')" title="Editar Materia"></i>
    </td>
    <td class="actions">
        <i class="fa fa-times has-text-danger is-center"  onclick="popUp('/borrar-materia/{{ i.id }}')" title="borrar Materia" ></i>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
